<html>
    <head>
      {% if title %}
      <title>Gayan {{title}}</title>
      {% else %}
      <title>Welcome to Flash Flask</title>
      {% endif %}
    </head>
    <body>
        <div>Flask:
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <li>{{ messages }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>